.header .inner-logo img{
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li{
    margin-left: 20px;
}
/* End Header */

/* Footer */
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* Box-head */
.box-head{
    margin-bottom: 30px;
}

.box-head .inner-title{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
}
/* End Box-head */

/* Song-item */
.song-item{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.song-item .inner-image{
    width: 115px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
}

.song-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-item .inner-content{
    padding: 10px;
    flex: 1;
}

.song-item .inner-content .inner-title{
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.song-item .inner-content .inner-title a{
    font-size: 14px;
    font-weight: 700;
    color: #4d007d;
}

.song-item .inner-content .inner-title a:hover{
    color: #7c008c;
    text-decoration: none;
}

.song-item .inner-content .inner-singer{
    font-size: 13px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-like{
    font-size: 13px;
    font-weight: 500;
    color: #004cd0;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-time{
    font-size: 13px;
    font-weight: 500;
    color: #585855;
}
/* End Song-item */

/* Detail Singer */
.singer-detail {
    .container.my-3 {
      .row {
        .col-12 {
          .inner-title {
            font-size: 24px;
            font-weight: bold;
            color: #f78c16;
          }
          .inner-action {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 10px 0;
  
            div {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 14px;
              color: #666;
            }
  
            .inner-time i,
            .inner-singer i,
            .inner-topic i,
            .inner-like i,
            .inner-heart i {
              font-size: 16px;
              color: #666;
            }
          }
          .inner-play {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 15px 0;
  
            .inner-avatar img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
  
            .inner-audio audio {
              /* max-width: 300px; */
            }
          }
          .inner-desc {
            margin: 10px 0;
  
            .inner-label {
              font-weight: bold;
              margin-bottom: 5px;
            }
  
            .inner-text {
              font-size: 14px;
              color: #333;
              background: #f9f9f9;
              padding: 10px;
              border: 1px solid #eee;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  
/* End Detail Singer */

/* Box-search */
.box-search{
  position: relative;
}

.box-search .inner-suggest{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
  display: none;
}

.box-search .inner-suggest.show{
  display: block;
}

.box-search .inner-suggest .inner-item{
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.box-search .inner-suggest .inner-item:hover{
  background: #efefef;
  text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child{
  border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image{
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info{
  flex: 1;
  margin-left: 10px;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title{
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer{
  font-size: 13px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 2px;
}
/* End Box-search */